/* MAIN STYLE */
body, html {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0 auto;
}

.overlay {
pointer-events: none;
}

/* Left game sidebar */

.left {
position: absolute;
float: left;
background-image: url('../images/col-bg.jpg');
height: 100%;
width: 140px;
z-index: 1;
}

.game-header {
float: left;
color: white;
text-align: center;
line-height: 25px;
padding: 5px;
}

.hid-btn {
  display: none;
}
.btn-game {
  margin-top: 30px;
}

.game-info-text {
color: white;
text-align: center;
line-height: 30px;
width: 100%;
}

.unit-amount, .console {
  display: block;
}

.game_info_icon-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Game map */

.game-map-wrapper {
  width: 88%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

#game-map-img {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}
