/* Main Style */
body, html {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
}
.container-fluid {
  padding: 0;
  margin: 0 auto;
}

/* Game wrapper */
#game-wrapper {
  width: 88%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
#game-map-img {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}

/* Left wrapper */
.game-wrapper-left {
  position: absolute;
  float: left;
  background-image: url('../images/col-bg.jpg');
  height: 100%;
  width: 140px;
  z-index: 1;
}
.block__console-text {
  color: white;
  text-align: center;
  line-height: 30px;
  width: 100%;
}
.hid-btn {
  display: none;
  width: 100%;
}
.btn-add, .btn-reset {
  margin-top: 10px;
}
